.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 22rem;
}

.top {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top > div {
    flex: 1;
}

.top .nameContainer {
    flex: 3;
}

.actions {
    display: flex;
    justify-content: right;
}

.redButton {
    background-color: var(--imperial-red);
    font-size: 1.3rem;
    width: 2.5rem;
    margin: 0.2rem;
}

.edit {
    margin: 0.2rem;
    font-size: 1.2rem;
    width: 2.5rem;
}

.error {
    color: var(--imperial-red)
}