.main {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--space-cadet);
    color: var(--cultured);
}

.navContainer {
    flex: 1;
}

h1 {
    flex: 1;
}