.main {
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;

}

.main h1 {
    margin-bottom: 3rem;
}

.content {
    display: flex;
    justify-content: center;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    box-shadow: 0px 3px 10px var(--space-cadet);
    border-radius: 0.3rem;
    padding: 3rem;
    padding-top: 1rem;
    min-width: 500px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width: 100%;
}