
.main {
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    margin: 1rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s;
}

.nav a:hover{
    transform: translateY(-3px) translateX(-3px);
    transition: all 0.2s;
}

.nav a:active{
    transform: none;
    transition: all 0.1s;
}